.box {
    margin: 150px auto auto auto;
    border: 1px ;
    padding: 10px;
    box-shadow: 5px 10px 18px #3d3b3b;
    width: 30%;
    background-color: white;
    height: 40%;
  }

  .abc{

    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 150px;
  }
  .spc1{
margin: 10px;
  }